.div{
    background-color: rgb(234, 230, 230);
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 1s;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 500px;
    
}
.div:hover{
    opacity: 65;
    transform: scale(0.95);
    background-color: rgba(65, 247, 80, 0.678);
}
.name{
    color: rgba(53, 53, 192, 0.751);
}
.email{
    color: rgba(131, 8, 247, 0.653);
}
